div class='user-container'
    li.top-user.name Name: #{link_to user.first_name + ' ' + user.last_name, user}
    li.top-user.score Score: #{user.total_score} points after #{user_games_excluding_learning(user)} #{user.games.size > 1 ? 'games' : 'game'}.